.b-welcome {
  display: flex;

  justify-content: space-between;
  flex-direction: row-reverse;
  &__main,
  &__media {
    max-width: 50%;

    flex: 0 0 50%;
  }
  &__inner {
    padding-right: 4em;
  }
  &__title {
    margin-top: -.125em;
  }

  @include screen-mobile-lg {
    display: block;
    &__main,
    &__media {
      max-width: 100%;

      flex: 0 0 100%;
    }

    &__media {
      margin-bottom: 4em;
      height: 25em;
      max-height: 50vh;
    }
  }
}
